
.container-fluid i{
  margin-right: 5px;
}

.admin-top-nav{

  margin-right: 0;
  display: block;
  padding: 20px;

}
/* dashboard */
.card-block-container{
 background-color: #eee;
}
.card-block{
  text-align: center;
  padding: 12px;
}
.card-block h2{
  font-size: 18px;
  text-transform: uppercase;
}

.card-block p{
  font-size: 51px;
  font-weight: bolder;
  color:#ccc;
}

/* buttons*/

.admin-btn{
  padding: 7px;
  margin-left: 10px;
  color: #333;
  border-radius: 10px;
  font-weight: 900;

}


body {
  overflow-x: hidden;
    background-color: #f5f5f5;
}
#wrapper {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  margin-right: -250px;
}


#page-content-login {
  padding: 15px;
  margin-bottom: 50px;
  margin-top: 25px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  font-weight: bolder;
  padding-top: 8px;
  color: #e2e2e2;
  margin-bottom: 35px;
  text-transform: uppercase;
  background-color: #1b1b1b;
}



.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.sidebar-nav li a i{
  margin-right: 10px;
  margin-left: -20px;
  font-size: 12px;
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    margin-right: 0;
  }

}
/* login footer */

.footer-log{
  margin-top: 20%;
  text-align: center;
  color: #bfbfbf;
}
